In [ ]:
age=int(input('whats your age'))
print(age)

In [7]:
print(type(age))

<class 'int'>

In [8]:
def on_heater(room_no):
    print('heater turned on')

In [11]:
room_no=1
on_heater(room_no)

heater turned on

In [ ]:
def thermostat(limit):
    temperature=get_env_temp()

In [12]:
5==4

False

In [13]:
5==5

True

In [14]:
5!=4

True

In [15]:
5>=5

True

In [16]:
not(True)

False

In [17]:
True and True

True

In [26]:
temperature=int(input('Temperature'))
if temperature<20: 
    print('it is very cold')
if temperature>30:
    print('it is very hot')
if temperature==20 or temperature==21 or temperature==22 or temperature==23 or temperature==24 or temperature==25:
    print('normal')

Temperature21
normal

In [34]:
temperature=float(input('Temperature'))
if temperature<20: 
    print('it is very cold')
if temperature>30:
    print('it is very hot')
if temperature>20 and temperature<30 :
    print('normal')

Temperature55.9
it is very hot

In [5]:
number=int(input('Enter Number 1to7'))
if number==1:
    print('Monday')
if number==2:
    print('Tuesday')
if number==3:
    print('Wednesday')
if number==4:
    print('Thursday')
if number==5:
    print('Friday')
if number==6:
    print('Saturday')
if number==7:
    print('Sunday')
if number<=0 or number>7:
    print('Error You are typing incorrect number.Please type number 1to7')

Enter Number 1to7-8
Error You are typing incorrect number.Please type number 1to7

In [2]:
def area_calculate():
    height=int(input('Length'))
    width=int(input('width'))
    area=height*width
    return area

In [3]:
import numpy as np
def make_list(size):
    return list(np.zeros(size,dtype=np.int32))

enter number2
2
enter number3
3
enter number4
4
enter number41
41
enter number1
1
enter number2
2
enter number12
12

 list1=make_list(4)
num=range(4)
for i in num:
    area=area_calculate()
    list1[i]=area
    print(area)
print(list1)

In [1]:
numbers=range(3)
for i in numbers:
    print ('ite no:',i+1)
    area=area_calculate()
    print (area)

ite no: 1

NameError: name 'area_calculate' is not defined

In [15]:
area1=area_calculate()
area2=area_calculate()
for 
if area1>area2:
    print('area1 is greater than area2')
if area2>area1:
    print('area2 is greater than area1')
if area2==area1:
    print('Both the areas are same')

Height23
width50
Height70
width20
area2 is greater than area1

In [12]:
print(area1)
print(area2)

NameError: name 'area1' is not defined

In [11]:
age=int(input('What is your age'))
if age==1:
    print('Infant')
if age>1 and age<13:
    print('Child')
if age>13 and age<20:
    print('Teen')
if age>=20:
    print('Adult')

What is your age20
Adult

In [6]:
print('See today is majic date or not')
date=int(input('Date'))
month=int(input('Month'))
year=int(input('Year'))
multiply=date*month
if multiply==year:
    print('congratulation it is majic date')
if multiply!=year:
    print('it is not a majic date')

See today is majic date or not
Date2
Month1
Year7
it is not a majic date

In [10]:
print('Primary Colors Mixing')
primary_color=input('Enter 1st Primary Color')
primary_color2=input('Enter 2nd Primary Color')
if primary_color=='red' and primary_color2=='yellow':
    print('orange')
elif primary_color=='red' and primary_color2=='blue':
    print('purple')
elif primary_color=='red' and primary_color2=='red':
    print('red')
elif primary_color=='blue' and primary_color2=='blue':
    print('blue')
elif primary_color=='yelow' and primary_color2=='yellow':
    print('yellow')
elif primary_color=='yellow' and primary_color2=='blue':
    print('green')
elif primary_color=='yellow' and primary_color2=='red':
    print('orange')
elif primary_color=='blue' and primary_color2=='red':
    print('purple')
elif primary_color=='blue'and primary_color2=='yellow':
    print('green')
else: 
    print('Type only primary color')

Primary Colors Mixing
Enter 1st Primary Colorzaid
Enter 2nd Primary Colorammara
Type only primary color

In [1]:
num=range(100)
num2=range(100)
num=float(input('Enter Number'))
num2=float(input('Enter 2nd Number'))
operator=input('Operator')
add=num+num2
sub=num-num2
mul=num*num2
div=num/num2
if operator=='add':
    print(add)
elif operator=='subtract':
    print(sub)
elif operator=='multiply':
    print(mul)
elif operator=='divide':
    print(div)
else:
    print('type only correct operartor')

Enter Number1
Enter 2nd Number7
Operatormul
type only correct operartor

In [ ]:
ages=['hell1o',2,3,4,5,6,87,9,0,'hello']
for age in ages:
    print(age)

In [1]:
def calculate(num1,num2,operator):
    if operator=='add':
        add=num1+num2
        return(add)
    elif operator=='sub':
        sub=num1-num2
        return(sub)
    elif operator=='mul':
        mul=num1*num2
        return(mul)
    elif operator=='div':
        div=num1/num2
        return(div)
result=int(input('Enter 1st number'))
num2=int(input('Enter 2nd number'))
operator=input('Operator')
while operator!='quit':
    result=calculate(result,num2,operator)
    print(result)
    #     num1=int(input('Enter 1st number'))
    num2=int(input('Enter 2nd number'))
    operator=input('Operator')

Enter 1st number3
Enter 2nd number4
Operator5
None
Enter 2nd number3
Operator23
None
Enter 2nd number2
Operator4
None
Enter 2nd number4
Operator2
None
Enter 2nd number2
Operator4
None
Enter 2nd number2
Operator42
None
Enter 2nd number4
Operator23
None
Enter 2nd number4
Operator23
None
Enter 2nd number423
Operator423
None
Enter 2nd number4
Operator
None
Enter 2nd number

ValueError: invalid literal for int() with base 10: ''

total=0
for i in range(1,6):
    total=total+i
print(total)

In [11]:
n1=10
n2=5
n1=n1+n2
print(n1,n2)

15 5

In [3]:
print('Enter your store sale of week')
mon=int(input('Monday'))
tue=int(input('Tuesday'))
wed=int(input('Wednesday'))
thu=int(input('Thursday'))
fri=int(input('Friday'))
sat=int(input('Saturday'))
sun=int(input('Sunday'))
add=mon+tue+wed+thu+fri+sat+sun
print(add)

Enter your store sale of week
Monday2
Tuesday3
Wednesday4
Thursday5
Friday6
Saturday6
Sunday7
33

In [2]:
print('Enter your store sale of week')
mon=list(range(10))
for i in mon:
    mon[i]=int(input('day'))
print(mon)

Enter your store sale of week
day2
day2
day2
day2
day2
day2
day2
day2
day2
day2
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

 number=range(5)
print (number)

In [4]:
n=[1,32,32,4,3,4]
print(n[0],n[1])

1 32