In [ ]:
age=int(input('whats your age'))
print(age)

In [7]:
print(type(age))

<class 'int'>

In [8]:
def on_heater(room_no):
    print('heater turned on')

In [11]:
room_no=1
on_heater(room_no)

heater turned on

In [ ]:
def thermostat(limit):
    temperature=get_env_temp()

In [12]:
5==4

False

In [13]:
5==5

True

In [14]:
5!=4

True

In [15]:
5>=5

True

In [16]:
not(True)

False

In [17]:
True and True

True

In [26]:
temperature=int(input('Temperature'))
if temperature<20: 
    print('it is very cold')
if temperature>30:
    print('it is very hot')
if temperature==20 or temperature==21 or temperature==22 or temperature==23 or temperature==24 or temperature==25:
    print('normal')

Temperature21
normal

In [3]:
temperature=float(input('Temperature'))
if temperature<20: 
    print('it is very cold')
if temperature>30:
    print('it is very hot')
if temperature>20 and temperature<30 :
    print('normal')

Temperature12
it is very cold

In [4]:
number=int(input('Enter Number 1to7'))
if number==1:
    print('Monday')
if number==2:
    print('Tuesday')
if number==3:
    print('Wednesday')
if number==4:
    print('Thursday')
if number==5:
    print('Friday')
if number==6:
    print('Saturday')
if number==7:
    print('Sunday')
if number<=0 or number>7:
    print('Error You are typing incorrect number.Please type number 1to7')

Enter Number 1to72
Tuesday

In [5]:
def area_calculate():
    height=int(input('Length'))
    width=int(input('width'))
    area=height*width
    return area

In [6]:
import numpy as np
def make_list(size):
    return list(np.zeros(size,dtype=np.int32))

 list1=make_list(4)
num=range(4)
for i in num:
    area=area_calculate()
    list1[i]=area
    print(area)
print(list1)

In [ ]:
numbers=range(3)
for i in numbers:
    print ('ite no:',i+1)
    area=area_calculate()
    print (area)

ite no: 1
Length10
width20
200
ite no: 2

In [15]:
area1=area_calculate()
area2=area_calculate()
for 
if area1>area2:
    print('area1 is greater than area2')
if area2>area1:
    print('area2 is greater than area1')
if area2==area1:
    print('Both the areas are same')

Height23
width50
Height70
width20
area2 is greater than area1

In [12]:
print(area1)
print(area2)

NameError: name 'area1' is not defined

In [3]:
age=int(input('What is your age'))
if age==1:
    print('Infant')
if age>1 and age<13:
    print('Child')
if age>13 and age<20:
    print('Teen')
if age>=20:
    print('Adult')

What is your age12
Child

In [8]:
print('See today is majic date or not')
date=int(input('Date'))
month=int(input('Month'))
year=int(input('Year'))
multiply=date*month
if multiply==year:
    print('congratulation it is majic date')
if multiply!=year:
    print('it is not a majic date')

See today is majic date or not
Date2
Month10
Year20
congratulation it is majic date

In [9]:
print('Primary Colors Mixing')
primary_color=input('Enter 1st Primary Color')
primary_color2=input('Enter 2nd Primary Color')
if primary_color=='red' and primary_color2=='yellow':
    print('orange')
elif primary_color=='red' and primary_color2=='blue':
    print('purple')
elif primary_color=='red' and primary_color2=='red':
    print('red')
elif primary_color=='blue' and primary_color2=='blue':
    print('blue')
elif primary_color=='yelow' and primary_color2=='yellow':
    print('yellow')
elif primary_color=='yellow' and primary_color2=='blue':
    print('green')
elif primary_color=='yellow' and primary_color2=='red':
    print('orange')
elif primary_color=='blue' and primary_color2=='red':
    print('purple')
elif primary_color=='blue'and primary_color2=='yellow':
    print('green')
else: 
    print('Type only primary color')

Primary Colors Mixing
Enter 1st Primary Colorblue
Enter 2nd Primary Colorred
purple

In [1]:
num=range(100)
num2=range(100)
num=float(input('Enter Number'))
num2=float(input('Enter 2nd Number'))
operator=input('Operator')
add=num+num2
sub=num-num2
mul=num*num2
div=num/num2
if operator=='add':
    print(add)
elif operator=='subtract':
    print(sub)
elif operator=='multiply':
    print(mul)
elif operator=='divide':
    print(div)
else:
    print('type only correct operartor')

Enter Number1
Enter 2nd Number7
Operatormul
type only correct operartor

In [70]:
ages=['hell1o',2,3,4,5,6,87,9,0,'hello']
for age in ages:
    print(age)

hell1o
2
3
4
5
6
87
9
0
hello

In [72]:
def calculate(num1,num2,operator):
    if operator=='add':
        add=num1+num2
        return(add)
    elif operator=='sub':
        sub=num1-num2
        return(sub)
    elif operator=='mul':
        mul=num1*num2
        return(mul)
    elif operator=='div':
        div=num1/num2
        return(div)
result=int(input('Enter 1st number'))
num2=int(input('Enter 2nd number'))
operator=input('Operator')
while operator!='quit':
    result=calculate(result,num2,operator)
    print(result)
    #     num1=int(input('Enter 1st number'))
    num2=int(input('Enter 2nd number'))
    operator=input('Operator')

Enter 1st number1
Enter 2nd number2
Operatoradd
3
Enter 2nd number2
Operatorquit

total=0
for i in range(1,6):
    total=total+i
print(total)

In [71]:
n1=10
n2=5
n1=n1+n2
print(n1,n2)

15 5

In [1]:
print('Enter your store sale of week')
mon=int(input('Monday'))
tue=int(input('Tuesday'))
wed=int(input('Wednesday'))
thu=int(input('Thursday'))
fri=int(input('Friday'))
sat=int(input('Saturday'))
sun=int(input('Sunday'))
add=mon+tue+wed+thu+fri+sat+sun
print(add)

Enter your store sale of week
Monday2
Tuesday3
Wednesday4
Thursday5
Friday6
Saturday7
Sunday8
35

<b>8. Sum of numbers</b><br>
Write a program with a loop that asks the user to enter a series of positive numbers. The
user should enter a negative number to signal the end of the series. After all the positive
numbers have been entered, the program should display their sum.

In [2]:
print('Enter your store sale of week')
mon=list(range(10))
for i in mon:
    mon[i]=int(input('day'))
print(mon)

Enter your store sale of week
day2
day3
day4
day5
day6
day7
day8
day5
day4
day6
[2, 3, 4, 5, 6, 7, 8, 5, 4, 6]

 number=range(5)
print (number)

In [4]:
n=[1,32,32,4,3,4]
print(n[0],n[3])

1 4

<b><u>Write a program that uses nested loops to draw this pattern:</b></u><br>

In [1]:
ast=['*******','******','*****','****','***','**','*']
for i in ast:
    print(i)

*******
******
*****
****
***
**
*

<b><u>9. ocean Levels</b></u><br>
Assuming the ocean’s level is currently rising at about 1.6 millimeters per year, create an
application that displays the number of millimeters that the ocean will have risen each year
for the next 25 years.

In [22]:
num=25
ocean=1.6
for i in range(num):
    ocean=ocean+1.6
    print(ocean,'millimeter')

3.2 millimeter
4.800000000000001 millimeter
6.4 millimeter
8.0 millimeter
9.6 millimeter
11.2 millimeter
12.799999999999999 millimeter
14.399999999999999 millimeter
15.999999999999998 millimeter
17.599999999999998 millimeter
19.2 millimeter
20.8 millimeter
22.400000000000002 millimeter
24.000000000000004 millimeter
25.600000000000005 millimeter
27.200000000000006 millimeter
28.800000000000008 millimeter
30.40000000000001 millimeter
32.00000000000001 millimeter
33.60000000000001 millimeter
35.20000000000001 millimeter
36.80000000000001 millimeter
38.40000000000001 millimeter
40.000000000000014 millimeter
41.600000000000016 millimeter

<b><u>9. ocean Levels</b></u><br>
Assuming the ocean’s level is currently rising at about 1.6 millimeters per year, create an
application that displays the number of millimeters that the ocean will have risen each year
for the next 25 years.

In [3]:
ocean=1.6
while ocean<=41.6:
    ocean=ocean+1.6
    print(ocean,'millimeter')

3.2 millimeter
4.800000000000001 millimeter
6.4 millimeter
8.0 millimeter
9.6 millimeter
11.2 millimeter
12.799999999999999 millimeter
14.399999999999999 millimeter
15.999999999999998 millimeter
17.599999999999998 millimeter
19.2 millimeter
20.8 millimeter
22.400000000000002 millimeter
24.000000000000004 millimeter
25.600000000000005 millimeter
27.200000000000006 millimeter
28.800000000000008 millimeter
30.40000000000001 millimeter
32.00000000000001 millimeter
33.60000000000001 millimeter
35.20000000000001 millimeter
36.80000000000001 millimeter
38.40000000000001 millimeter
40.000000000000014 millimeter
41.600000000000016 millimeter

<b>10. Tuition Increase</b><br>
At one college, the tuition for a full-time student is $8,000 per semester. It has been
announced that the tuition will increase by 3 percent each year for the next 5 years. Write
a program with a loop that displays the projected semester tuition amount for the next 5
years.

In [5]:
inc=8000*0.03
tui=5
t=8000
for i in range(tui):
    t=t+inc
    print(t)

8240.0
8480.0
8720.0
8960.0
9200.0

<b><u>Use of for loop:</b></u>
Write a program that uses nested loops to draw this pattern:

In [24]:
stair=['##','# #','#  #','#   #','#    #','#     #',]
for i in stair:
    print(i)

##
# #
#  #
#   #
#    #
#     #

<b> Tree:</b><br>
Draw tree using nesting list

In [69]:
tree=['       *','      ***','     *****','    *******','      | |','      | |','      | |','      | |','      | |','      | |']
for i in tree:
    print(i)

       *
      ***
     *****
    *******
      | |
      | |
      | |
      | |
      | |
      | |